#This is git ignore file that ignore some of the unnecessary functions are called

.DS_Store
MixItApp/MixItApp.xcodeproj/project.xcworkspace/xcuserdata/Moses.xcuserdatad/UserInterfaceState.xcuserstate
